<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="bin"/>
      <dir
        name="conf"/>
      <dir
        name="java">
        <dir
          name="jakarta">
          <dir
            name="annotation">
            <dir
              name="security"/>
            <dir
              name="sql"/>
          </dir>
          <dir
            name="ejb"/>
          <dir
            name="el"/>
          <dir
            name="mail">
            <dir
              name="internet"/>
          </dir>
          <dir
            name="persistence"/>
          <dir
            name="security">
            <dir
              name="auth">
              <dir
                name="message">
                <dir
                  name="callback"/>
                <dir
                  name="config"/>
                <dir
                  name="module"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="servlet">
            <dir
              name="annotation"/>
            <dir
              name="descriptor"/>
            <dir
              name="http"/>
            <dir
              name="jsp">
              <dir
                name="el"/>
              <dir
                name="tagext"/>
            </dir>
          </dir>
          <dir
            name="transaction"/>
          <dir
            name="websocket">
            <dir
              name="server"/>
          </dir>
          <dir
            name="xml">
            <dir
              name="ws"/>
          </dir>
        </dir>
        <dir
          name="org">
          <dir
            name="apache">
            <dir
              name="catalina">
              <dir
                name="ant">
                <dir
                  name="jmx"/>
              </dir>
              <dir
                name="authenticator">
                <dir
                  name="jaspic"/>
              </dir>
              <dir
                name="connector"/>
              <dir
                name="core"/>
              <dir
                name="deploy"/>
              <dir
                name="filters"/>
              <dir
                name="ha">
                <dir
                  name="authenticator"/>
                <dir
                  name="backend"/>
                <dir
                  name="context"/>
                <dir
                  name="deploy"/>
                <dir
                  name="session"/>
                <dir
                  name="tcp"/>
              </dir>
              <dir
                name="loader"/>
              <dir
                name="manager">
                <dir
                  name="host"/>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="mapper"/>
              <dir
                name="mbeans"/>
              <dir
                name="realm"/>
              <dir
                name="security"/>
              <dir
                name="servlets"/>
              <dir
                name="session"/>
              <dir
                name="ssi"/>
              <dir
                name="startup"/>
              <dir
                name="storeconfig"/>
              <dir
                name="tribes">
                <dir
                  name="group">
                  <dir
                    name="interceptors"/>
                </dir>
                <dir
                  name="io"/>
                <dir
                  name="jmx"/>
                <dir
                  name="membership">
                  <dir
                    name="cloud"/>
                </dir>
                <dir
                  name="tipis"/>
                <dir
                  name="transport">
                  <dir
                    name="nio"/>
                </dir>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="users"/>
              <dir
                name="util"/>
              <dir
                name="valves">
                <dir
                  name="rewrite"/>
              </dir>
              <dir
                name="webresources">
                <dir
                  name="war"/>
              </dir>
            </dir>
            <dir
              name="coyote">
              <dir
                name="ajp"/>
              <dir
                name="http11">
                <dir
                  name="filters"/>
                <dir
                  name="upgrade"/>
              </dir>
              <dir
                name="http2"/>
            </dir>
            <dir
              name="el">
              <dir
                name="lang"/>
              <dir
                name="parser"/>
              <dir
                name="stream"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="jasper">
              <dir
                name="compiler">
                <dir
                  name="tagplugin"/>
              </dir>
              <dir
                name="el"/>
              <dir
                name="optimizations"/>
              <dir
                name="runtime"/>
              <dir
                name="security"/>
              <dir
                name="servlet"/>
              <dir
                name="tagplugins">
                <dir
                  name="jstl">
                  <dir
                    name="core"/>
                </dir>
              </dir>
              <dir
                name="util"/>
            </dir>
            <dir
              name="juli">
              <dir
                name="logging"/>
            </dir>
            <dir
              name="naming">
              <dir
                name="factory">
                <dir
                  name="webservices"/>
              </dir>
              <dir
                name="java"/>
            </dir>
            <dir
              name="tomcat">
              <dir
                name="buildutil">
                <dir
                  name="translate"/>
              </dir>
              <dir
                name="dbcp">
                <dir
                  name="dbcp2">
                  <dir
                    name="cpdsadapter"/>
                  <dir
                    name="datasources"/>
                  <dir
                    name="managed"/>
                </dir>
                <dir
                  name="pool2">
                  <dir
                    name="impl"/>
                </dir>
              </dir>
              <dir
                name="jni"/>
              <dir
                name="util">
                <dir
                  name="bcel">
                  <dir
                    name="classfile"/>
                </dir>
                <dir
                  name="buf"/>
                <dir
                  name="codec">
                  <dir
                    name="binary"/>
                </dir>
                <dir
                  name="collections"/>
                <dir
                  name="compat"/>
                <dir
                  name="descriptor">
                  <dir
                    name="tagplugin"/>
                  <dir
                    name="tld"/>
                  <dir
                    name="web"/>
                </dir>
                <dir
                  name="digester"/>
                <dir
                  name="file"/>
                <dir
                  name="http">
                  <dir
                    name="fileupload">
                    <dir
                      name="disk"/>
                    <dir
                      name="impl"/>
                    <dir
                      name="servlet"/>
                    <dir
                      name="util">
                      <dir
                        name="mime"/>
                    </dir>
                  </dir>
                  <dir
                    name="parser"/>
                </dir>
                <dir
                  name="json"/>
                <dir
                  name="log"/>
                <dir
                  name="modeler">
                  <dir
                    name="modules"/>
                </dir>
                <dir
                  name="net">
                  <dir
                    name="jsse"/>
                  <dir
                    name="openssl">
                    <dir
                      name="ciphers"/>
                  </dir>
                </dir>
                <dir
                  name="res"/>
                <dir
                  name="scan"/>
                <dir
                  name="security"/>
                <dir
                  name="threads"/>
                <dir
                  name="xreflection"/>
              </dir>
              <dir
                name="websocket">
                <dir
                  name="pojo"/>
                <dir
                  name="server"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="modules">
        <dir
          name="jdbc-pool">
          <dir
            name="doc"/>
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="tomcat">
                      <dir
                        name="jdbc">
                        <dir
                          name="naming"/>
                        <dir
                          name="pool">
                          <dir
                            name="interceptor"/>
                          <dir
                            name="jmx"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="tomcat">
                      <dir
                        name="jdbc">
                        <dir
                          name="bugs"/>
                        <dir
                          name="pool">
                          <dir
                            name="interceptor"/>
                        </dir>
                        <dir
                          name="test">
                          <dir
                            name="driver"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="res">
        <dir
          name="META-INF">
          <dir
            name="jasper-el.jar"/>
          <dir
            name="jasper.jar"/>
          <dir
            name="tomcat-websocket.jar"/>
        </dir>
        <dir
          name="checkstyle"/>
        <dir
          name="deployer"/>
        <dir
          name="ide-support">
          <dir
            name="idea">
            <dir
              name="codeStyles"/>
            <dir
              name="copyright"/>
            <dir
              name="inspectionProfiles"/>
          </dir>
          <dir
            name="netbeans"/>
        </dir>
        <dir
          name="install-win"/>
        <dir
          name="maven"/>
        <dir
          name="spotbugs"/>
      </dir>
      <dir
        name="test">
        <dir
          name="conf"/>
        <dir
          name="deployment">
          <dir
            name="dirContext">
            <dir
              name="META-INF"/>
          </dir>
          <dir
            name="dirNoContext"/>
        </dir>
        <dir
          name="jakarta">
          <dir
            name="el"/>
          <dir
            name="servlet">
            <dir
              name="annotation"/>
            <dir
              name="http"/>
            <dir
              name="jsp">
              <dir
                name="el"/>
            </dir>
            <dir
              name="resources"/>
          </dir>
          <dir
            name="websocket"/>
        </dir>
        <dir
          name="org">
          <dir
            name="apache">
            <dir
              name="catalina">
              <dir
                name="ant"/>
              <dir
                name="authenticator">
                <dir
                  name="jaspic"/>
              </dir>
              <dir
                name="connector"/>
              <dir
                name="core"/>
              <dir
                name="filters"/>
              <dir
                name="ha">
                <dir
                  name="context"/>
              </dir>
              <dir
                name="loader"/>
              <dir
                name="mapper"/>
              <dir
                name="mbeans"/>
              <dir
                name="nonblocking"/>
              <dir
                name="realm"/>
              <dir
                name="security"/>
              <dir
                name="servlets"/>
              <dir
                name="session"/>
              <dir
                name="ssi"/>
              <dir
                name="startup"/>
              <dir
                name="tribes">
                <dir
                  name="demos"/>
                <dir
                  name="group">
                  <dir
                    name="interceptors"/>
                </dir>
                <dir
                  name="io"/>
                <dir
                  name="membership">
                  <dir
                    name="cloud"/>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="channel"/>
                  <dir
                    name="transport"/>
                </dir>
              </dir>
              <dir
                name="users"/>
              <dir
                name="util"/>
              <dir
                name="valves">
                <dir
                  name="rewrite"/>
              </dir>
              <dir
                name="webresources">
                <dir
                  name="war"/>
              </dir>
            </dir>
            <dir
              name="coyote">
              <dir
                name="ajp"/>
              <dir
                name="http11">
                <dir
                  name="filters"/>
                <dir
                  name="upgrade"/>
              </dir>
              <dir
                name="http2"/>
            </dir>
            <dir
              name="el">
              <dir
                name="lang"/>
              <dir
                name="parser"/>
              <dir
                name="stream"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="jasper">
              <dir
                name="compiler"/>
              <dir
                name="el"/>
              <dir
                name="optimizations"/>
              <dir
                name="runtime"/>
              <dir
                name="servlet"/>
              <dir
                name="tagplugins">
                <dir
                  name="jstl">
                  <dir
                    name="core"/>
                </dir>
              </dir>
              <dir
                name="util"/>
            </dir>
            <dir
              name="juli"/>
            <dir
              name="naming">
              <dir
                name="factory"/>
              <dir
                name="resources"/>
            </dir>
            <dir
              name="tomcat">
              <dir
                name="buildutil">
                <dir
                  name="translate"/>
              </dir>
              <dir
                name="jni"/>
              <dir
                name="unittest">
                <dir
                  name="tags"/>
              </dir>
              <dir
                name="util">
                <dir
                  name="bcel"/>
                <dir
                  name="buf"/>
                <dir
                  name="collections"/>
                <dir
                  name="descriptor">
                  <dir
                    name="tld"/>
                  <dir
                    name="web"/>
                </dir>
                <dir
                  name="file"/>
                <dir
                  name="http">
                  <dir
                    name="parser"/>
                </dir>
                <dir
                  name="net">
                  <dir
                    name="jsse"/>
                  <dir
                    name="openssl">
                    <dir
                      name="ciphers"/>
                  </dir>
                </dir>
                <dir
                  name="res"/>
                <dir
                  name="scan"/>
                <dir
                  name="security"/>
                <dir
                  name="threads"/>
              </dir>
              <dir
                name="websocket">
                <dir
                  name="pojo"/>
                <dir
                  name="server"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="util">
          <dir
            name="a"/>
          <dir
            name="b"/>
        </dir>
        <dir
          name="webapp">
          <dir
            name="WEB-INF">
            <dir
              name="classes">
              <dir
                name="META-INF">
                <dir
                  name="org.apache.jasper"/>
              </dir>
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="tomcat"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bug5nnnn"/>
        </dir>
        <dir
          name="webapp-2.2">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-2.3">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-2.4">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-2.5">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-3.0">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-3.1">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-4.0">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-5.0">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-6.0">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-fragments">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-fragments-empty-absolute-ordering">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-servletsecurity-a">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-servletsecurity-b">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="webapp-virtual-webapp">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="webapp-a">
                <dir
                  name="WEB-INF"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="webapps">
        <dir
          name="ROOT">
          <dir
            name="WEB-INF"/>
        </dir>
        <dir
          name="docs">
          <dir
            name="META-INF"/>
          <dir
            name="WEB-INF"/>
          <dir
            name="annotationapi"/>
          <dir
            name="api"/>
          <dir
            name="appdev">
            <dir
              name="sample">
              <dir
                name="src">
                <dir
                  name="mypackage"/>
              </dir>
              <dir
                name="web">
                <dir
                  name="WEB-INF"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="architecture"/>
          <dir
            name="config"/>
          <dir
            name="elapi"/>
          <dir
            name="images">
            <dir
              name="fonts"/>
          </dir>
          <dir
            name="jaspicapi"/>
          <dir
            name="jspapi"/>
          <dir
            name="servletapi"/>
          <dir
            name="tribes"/>
          <dir
            name="websocketapi"/>
        </dir>
        <dir
          name="examples">
          <dir
            name="META-INF"/>
          <dir
            name="WEB-INF">
            <dir
              name="classes">
              <dir
                name="async"/>
              <dir
                name="cal"/>
              <dir
                name="checkbox"/>
              <dir
                name="colors"/>
              <dir
                name="compressionFilters"/>
              <dir
                name="dates"/>
              <dir
                name="error"/>
              <dir
                name="examples"/>
              <dir
                name="filters"/>
              <dir
                name="http2"/>
              <dir
                name="jsp2">
                <dir
                  name="examples">
                  <dir
                    name="el"/>
                  <dir
                    name="simpletag"/>
                </dir>
              </dir>
              <dir
                name="listeners"/>
              <dir
                name="nonblocking"/>
              <dir
                name="num"/>
              <dir
                name="sessions"/>
              <dir
                name="trailers"/>
              <dir
                name="util"/>
              <dir
                name="validators"/>
              <dir
                name="websocket">
                <dir
                  name="chat"/>
                <dir
                  name="drawboard">
                  <dir
                    name="wsmessages"/>
                </dir>
                <dir
                  name="echo"/>
                <dir
                  name="snake"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="jsp">
            <dir
              name="cal"/>
            <dir
              name="checkbox"/>
            <dir
              name="colors"/>
            <dir
              name="dates"/>
            <dir
              name="error"/>
            <dir
              name="forward"/>
            <dir
              name="include"/>
            <dir
              name="jsp2">
              <dir
                name="el"/>
              <dir
                name="jspattribute"/>
              <dir
                name="jspx"/>
              <dir
                name="misc"/>
              <dir
                name="simpletag"/>
              <dir
                name="tagfiles"/>
            </dir>
            <dir
              name="jsptoserv"/>
            <dir
              name="num"/>
            <dir
              name="sessions"/>
            <dir
              name="simpletag"/>
            <dir
              name="snp"/>
            <dir
              name="tagplugin"/>
            <dir
              name="xml"/>
          </dir>
          <dir
            name="servlets">
            <dir
              name="nonblocking"/>
          </dir>
        </dir>
        <dir
          name="host-manager">
          <dir
            name="META-INF"/>
          <dir
            name="WEB-INF"/>
          <dir
            name="css"/>
        </dir>
        <dir
          name="manager">
          <dir
            name="META-INF"/>
          <dir
            name="WEB-INF"/>
          <dir
            name="css"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5"/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
