#include <windows.h>
#include "RunDlg_rc.h"

#ifndef IDC_STATIC
#define IDC_STATIC	-1
#endif

IDD_RUN_DLG DIALOGEX 0, 0, 196, 102
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "Run..."
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Run!",IDOK,95,62,39,14
    PUSHBUTTON      "Stooop!",IDCANCEL,141,62,40,14
    PUSHBUTTON      "...",IDC_BUTTON_FILE_BROWSER,154,27,16,14
    COMBOBOX        IDC_COMBO_RUN_PATH,14,28,136,71,CBS_DROPDOWN | 
                    CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Type your program to run here",IDC_MAINTEXT_STATIC,7,7,172,49,
                    BS_CENTER
END
