<?xml version="1.0" encoding="Windows-1252" ?>
<NotepadPlus>
    <GUIConfigs>
        <!-- 3 status : "large", "small" or "hide"-->
        <GUIConfig name="ToolBar">large</GUIConfig>
        <!-- 2 status : "show" or "hide"-->
        <GUIConfig name="StatusBar">show</GUIConfig>
        <!-- For all attributs, 2 status : "yes" or "no"-->
        <GUIConfig name="TabBar" dragAndDrop="yes" drawTopBar="yes" drawInactiveTab="yes" reduce="yes" />
        <!-- 2 positions : "horizontal" or "vertical"-->
        <GUIConfig name="ScintillaViewsSplitter">vertical</GUIConfig>
        <!-- For the attribut of position, 2 status : docked or undocked ; 2 status : "show" or "hide" -->
        <GUIConfig name="UserDefineDlg" position="docked">hide</GUIConfig>
        <GUIConfig name="TabSetting" size="4" replaceBySpace="no" />
        <!--App position-->
        <GUIConfig name="AppPosition" x="-4" y="-4" width="1288" height="1032" />
        <GUIConfig name="EdgeLine" nbColumn="200" />
        <!-- For the primary scintilla view, 
             2 status for Attribut lineNumberMargin, bookMarkMargin, indentGuideLine and currentLineHilitingShow: "show" or "hide" 
             4 status for Attribut folderMarkStyle : "simple", "arrow", "circle" and "box"
      -->
        <GUIConfig name="ScintillaPrimaryView" lineNumberMargin="show" bookMarkMargin="show" folderMarkStyle="box" indentGuideLine="show" currentLineHilitingShow="hide" Wrap="yes" edge="no" edgeNbColumn="100" />
        <!-- For the secodary scintilla view, 
             2 status for Attribut lineNumberMargin, bookMarkMargin, indentGuideLine and currentLineHilitingShow: "show" or "hide" 
             4 status for Attribut folderMarkStyle : "simple", "arrow", "circle" and "box"
      -->
        <GUIConfig name="ScintillaSecondaryView" lineNumberMargin="show" bookMarkMargin="show" folderMarkStyle="box" indentGuideLine="show" currentLineHilitingShow="show" Wrap="yes" edge="no" edgeNbColumn="25" />
    </GUIConfigs>
    <!-- The History of opened files list -->
    <History nbMaxFile="15">
        <File>C:\Documents and Settings\DH\Application Data\Notepad++\config.xml</File>
        <File>E:\Sources\notepad++\PowerEditor\src\Notepad_plus.rc</File>
        <File>C:\Documents and Settings\DH\Application Data\Notepad++\stylers.xml</File>
        <File>E:\Sources\notepad++\PowerEditor\src\resource.h</File>
    </History>
</NotepadPlus>
